/*webkit-sassui-enlarge Start*/
.enlarge, .test-enlarge {
  position: relative;
}

.enlarge:after, .test-enlarge:after {
  content: '';
  display: block;
  position: absolute;
}

/*webkit-sassui-enlarge End*/
.test-enlarge:after {
  left: -10px;
  top: -10px;
  bottom: -10px;
  right: -10px;
}
